<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visualizations Page</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin-top: 20%;
    }
    h1 {
      font-size: 3em;
      color: #333;
    }
  </style>
</head>
<body>
  <h1>The policymakers can get essential information from various analytics from here.</h1>
  <form action="/logoutUser" method="post">
    <button type="submit" class="logout-button">Logout</button>
  </form>
</body>
</html>