<div class="footer_bg">
  <div class="d-flex flex-row justify-content-between cardmargin">
      <div>
          <p class="footer_textcolor">logo</p>
      </div>
      <div class="details2">
          <h1 class="heading4 footer_textcolor">Quick Links</h1>
          <p class="para4 footer_textcolor">About Us</p>
          <p class="para4 footer_textcolor">Contact Us</p>
          <p class="para4 footer_textcolor">Support Center</p>
          <p class="para4 footer_textcolor">Careers</p>
          <p class="para4 footer_textcolor">Blog</p>
      </div>
      <div class="details2">
          <h1 class="heading4 footer_textcolor">Resources</h1>
          <p class="para4 footer_textcolor">Help Center</p>
          <p class="para4 footer_textcolor">FAQ's</p>
          <p class="para4 footer_textcolor">User Guide</p>
          <p class="para4 footer_textcolor">Community Forum</p>
          <p class="para4 footer_textcolor">Feedback</p>
      </div>
      <div class="details2">
          <h1 class="heading4 footer_textcolor">Follow Us</h1>
          <p class="para4 footer_textcolor">Facebook</p>
          <p class="para4 footer_textcolor">Twitter</p>
          <p class="para4 footer_textcolor">Linkedin</p>
          <p class="para4 footer_textcolor">Instagram</p>
          <p class="para4 footer_textcolor">Youtube</p>
      </div>
      <div class="details2">
          <h1 class="heading4 footer_textcolor">Legal</h1>
          <p class="para4 footer_textcolor">Privacy Policy</p>
          <p class="para4 footer_textcolor">Terms of Service</p>
          <p class="para4 footer_textcolor">Cookie Settings</p>
          <p class="para4 footer_textcolor">Company</p>
          <p class="para4 footer_textcolor">Our Mission</p>
      </div>
      <div class="details2">
          <h1 class="heading4 footer_textcolor">Contact</h1>
          <p class="para4 footer_textcolor">Get in Touch</p>
          <p class="para4 footer_textcolor">Join Our Team</p>
          <p class="para4 footer_textcolor">Latest News</p>
          <p class="para4 footer_textcolor">Subscribe Now</p>
          <p class="para4 footer_textcolor">Stay Updated</p>
      </div>
  </div>
  <div class="d-flex flex-row justify-content-between cardmargin">
      <div class="d-flex flex-row">
          <img src="https://res.cloudinary.com/dmnys8vsr/image/upload/v1738750934/icons8-copyright-24_vjvqri.png" class="image3 footer_textcolor" />
          <p class="para4 footer_textcolor">2025 Health Connect. All Rights Reserved.</p>
          <p class="para4 space footer_textcolor">Privacy Policy</p>
          <p class="para4 space footer_textcolor">Terms of Service</p>
          <p class="para4 space footer_textcolor">Cookie Setting</p>
      </div>
      <div class="d-flex flex-row">
          <img src="https://res.cloudinary.com/dmnys8vsr/image/upload/v1738750935/icons8-facebook-24_1_vb4enq.png" class="image3" />
          <img src="https://res.cloudinary.com/dmnys8vsr/image/upload/v1738750934/icons8-instagram-24_1_p8kdz3.png" class="image3" />
          <img src="https://res.cloudinary.com/dmnys8vsr/image/upload/v1738750935/icons8-twitter-24_1_tlikuh.png" class="image3" />
          <img src="https://res.cloudinary.com/dmnys8vsr/image/upload/v1738750934/icons8-linkedin-24_1_x0xoiu.png" class="image3" />
          <img src="https://res.cloudinary.com/dmnys8vsr/image/upload/v1738750934/icons8-youtube-24_1_whc6fb.png" class="image3" />
      </div>
  </div>
</div>
</body>
</html>