<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.image2 {
    height: 30px;
}

.image1 {
    height: 250px;
    padding: 10px;
}

.heading1 {
    font-family: "Roboto";
    font-size: 35px;
    font-weight: bold;
}

.para1 {
    font-family: "Roboto";
    font-size: 12px;
}

.cardmargin {
    margin: 15px;
}

.heading2 {
    font-family: "Roboto";
    font-size: 25px;
    font-weight: bold;
}

.para2 {
    font-family: "Roboto";
    font-size: 10px;
}

.details1 {
    text-align: center;
    padding: 10px;
}

.heading3 {
    font-family: "Roboto";
    font-size: 15px;
    font-weight: bold;
}

.para3 {
    font-family: "Roboto";
    font-size: 10px;
}

.details2 {
    padding: 10px;
}

.heading4 {
    font-family: "Roboto";
    font-size: 15px;
    font-weight: bold;
}

.para4 {
    font-family: "Roboto";
    font-size: 10px;
}

.image3 {
    height: 15px;
}

.space {
    padding-left: 10px;
}

.form-heading {
    font-family: "Roboto";
    font-size: 36px;
    padding-top: 40px;
    padding-bottom: 20px;
}


.error-message {
    color: #dc3545;
    font-family: "Roboto";
    font-size: 14px;
}

.middle {
    margin-left: 600px;
    margin-right: 600px;
}

.btnspace {
    margin: 10px;
    margin-bottom: 50px;
}

.cardholder{
    background-color: aqua;
    border-radius: 20px;
}

.footer_bg{
    background-color: #0d2436;
}

.footer_textcolor{
    color: aliceblue;
}

.emailbox{
    margin-left: 10px;
}
    </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home Page</a>
                <a class="nav-link" href="#">About Us</a>
                <a class="nav-link" href="#">Services</a>
            </div>
            <div>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Contact Us
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/login">Login</a>
                <a class="nav-link" href="/register">Sign Up</a>
            </div>
        </div>
    </div>
</nav>